<div class="container">
    <h1>SpaceX Launch Programs</h1>
    <div class="wrapper">
        <div class="filter-section">
            <h3>Filters</h3>
            <ul class="filters-list">
                <li>
                    <div class="filter-title text-center">Launch Year</div>
                    <div class="filter-option-list">
                        <span class="filter-option" *ngFor="let year of launchYears; let index = index;">
                            <label class="filter-label" for="filter_{{index}}" [ngClass]="{'is_active': year.isChecked}">{{year.year}}</label>
                            <input type="checkbox" [checked]="year.isChecked" id="filter_{{index}}"
                            (click)="onChange($event, year)"
                            [disabled]="year.isChecked"/>
                        </span>
                    </div>
                    <div class="filter-title text-center">Successful Launch</div>
                    <div class="filter-option-list">
                        <span class="filter-option">
                            <label class="filter-label" for="filter_launch_true" [ngClass]="{'is_active': launchSuccess}">True</label>
                            <input type="radio" id="filter_launch_true" name="launchSuccess"
                            [checked]="launchSuccess"
                            (click)="launchSuccess=true;getSelectedPrograms()"
                            [disabled]="launchSuccess"/>
                        </span>
                        <span class="filter-option">
                            <label class="filter-label" for="filter_launch_false" [ngClass]="{'is_active': !launchSuccess}">False</label>
                            <input type="radio" id="filter_launch_false" name="launchSuccess"
                            [checked]="!launchSuccess"
                            (click)="launchSuccess=false;getSelectedPrograms()"
                            [disabled]="!launchSuccess"/>
                        </span>
                    </div>
                    <div class="filter-title text-center">Successful Landing</div>
                    <div class="filter-option-list">
                        <span class="filter-option">
                            <label class="filter-label" for="filter_land_true" [ngClass]="{'is_active': landingSuccess}">True</label>
                            <input type="radio" id="filter_land_true" name="landSuccess"
                            [checked]="landingSuccess"
                            (click)="landingSuccess=true;getSelectedPrograms()"
                            [disabled]="landingSuccess"/>
                        </span>
                        <span class="filter-option">
                            <label class="filter-label" for="filter_land_false" [ngClass]="{'is_active': !landingSuccess}">False</label>
                            <input type="radio" id="filter_land_false" name="landSuccess"
                            [checked]="!landingSuccess"
                            (click)="landingSuccess=false;getSelectedPrograms()"
                            [disabled]="!landingSuccess"/>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="programs-section">
            <div class="program" *ngFor="let program of programsList;">
                <div class="program-image">
                    <img *ngIf="program.links" alt="" title="" [src]="program.links.mission_patch_small"/>
                </div>
                <div class="program-name text-blue text-bold">{{program.mission_name}} # {{program.flight_number}}</div>
                <ul class="program-detilas">
                    <li>
                        <span class="heading text-bold">Mission Ids: </span>
                        <ul class="text-blue">
                            <li  *ngFor="let id of program.mission_id;">{{id}}</li>
                        </ul>
                    </li>
                    <li>
                        <span class="heading text-bold">Launch Year: </span>
                        <span class="text-blue">{{program.launch_year}}</span>
                    </li>
                    <li>
                        <span class="heading text-bold">Successful Launch: </span>
                        <span class="text-blue">{{program.launch_success}}</span>
                    </li>
                    <li>
                        <span class="heading text-bold">Successful Landing: </span>
                        <span class="text-blue">{{program.launch_landing}}</span>
                    </li>
                </ul>
            </div>
            <div class="no-results text-center text-bold" *ngIf="!listLoading && !programsList.length">No Results for selected filer</div>
            <div class="program-loading" *ngIf="listLoading"><span class="text-blue">Loading...</span></div>
        </div>
    </div>
    <div class="footer text-center"><span class="text-bold">Developed by: </span> Niranjan S</div>
</div>